<h1 class="text-center text-info">Listado de Poderes</h1>
<div class="row">
  <div class="col-sm-9">
    <h4>Los poderes con <%= idHeroe %> son:</h4>
  </div>
  <div class="col-sm-3">
    <a href="/CrearJugador?idEquipo=<%= idHeroe %>" class="btn btn-lg btn-block btn-success">Crear Heroe</a>
  </div>
</div>
<br>
<% for(var i = 0; i < poderes.length; i++) { %>
<div class="row table-bordered">
  <div class="col-sm-4 " style="margin-top:20px">
    <h2><%= poderes[i].nombre %></h2>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4" style="margin-top:10px">
    <p>
      ID: <%= poderes[i].id %>
      <br>
      Nombre:<%= poderes[i].nombre %>
      <br>
      Daño: <%= poderes[i].daño %>
      <br>
      Nivel: <%= poderes[i].nivel %>
    </p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2" style="margin-top:10px">
    <a href="/Jugador/borrarJugador?id=<%= poderes[i].id %>&idHeroe=<%= idHeroe %>"
       class="btn btn-block btn-danger">X</a>
    <a href="/Poder/actualizarPoder?id=<%= poderes[i].id %>&idPoder=<%= idHeroe %>"
       class="btn btn-block btn-info">Editar</a>
  </div>
</div>
<br>
<% } %>
